<section class="body--background">
  <h3>Email Logan at <a href="mailto:loganrvath@gmail.com">loganrvath@gmail.com</a>.</h3>
  <hr class="body--hr"/>
  <div class="social">
    <a href="http://facebook.com/loganvath">
      <div class="social--icon">
        <%= image_tag("facebook.png", :alt => "facebook") %>
      </div>
      <h3>facebook.com/loganvath</h3>
    </a>
  </div>
  <div class="social">
    <a href="http://twitter.com/loganvath">
      <div class="social--icon">
        <%= image_tag("twitter.png", :alt => "twitter") %>
      </div>
      <h3>@loganvath</h3>
    </a>
  </div>
  <div class="social">
    <a href="http://soundcloud.com/loganvath">
      <div class="social--icon">
        <%= image_tag("soundcloud.png", :alt => "soundcloud") %>
      </div>
      <h3>soundcloud.com/loganvath</h3>
    </a>
  </div>
  <div class="social">
    <a href="http://instagram.com/loganvath">
      <div class="social--icon">
        <%= image_tag("instagram.png", :alt => "instagram") %>
      </div>
      <h3>instagram.com/loganvath</h3>
    </a>
  </div>
</section>