@font-face {
	font-family: 'Knockout';
	src: font-url('Knockout/Knockout-featherweight.eot');
	src: font-url('Knockout/Knockout-featherweight.eot?#iefix') format('embedded-opentype'),
	font-url('Knockout/Knockout-featherweight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}