#alligator--tail, #crocodile--tail {
  width: 41%;
  position: absolute;
  top: 40%;
}

#alligator--tail {
  left: 0;
}

#crocodile--tail {
  right: 0;
}

#tail--tape {
  position: relative;
}

#tail--section {
  width: 100%;
}

.tail--wrapper {
  background: url('../img/gator-croc-background.png');
  background-repeat: no-repeat;
}

#tail--heading {
  margin: 0 auto;
  width: 30%;
  max-width: 295px;
}

#tail--heading h2 {
  display: inline-block;
  margin-bottom: 0;
}

#tail--heading h3 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: inline-block;
  margin: 0 3%;
  vertical-align: 35%;
}

.content--header h5 {
  color: $siteYellow;
}

    .section--header {
        margin-bottom: 1rem;
        text-align: center;

        h1 {
            margin-bottom: 0;
        }
    }
    
    .content--graphic {
      margin: 0 auto;
    }

    .section--content {
        margin-bottom: 3em;
        text-align: center;
        position: relative;
    }

        .section--graphic {
            text-align: center;
        }
        
@media only screen and (max-width: $smallTabletBreakpoint) {
  #alligator--sign--mobile, #crocodile--sign--mobile {
    background: url('../img/alligator-snout-background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #alligator--sign--desktop, #crocodile--sign--desktop {
    display: none;
  }
  
  #mobile--blue {
    background: $siteDarkBlue;
  }
  
  #tail--section {
    padding-top: 310%;
    background-position: 50% 0;
    background-size: 250%;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: #{$smallTabletBreakpoint}) {
  #alligator--sign--mobile, #crocodile--sign--mobile {
    display: none;
  }
  
  #alligator--sign--desktop, #crocodile--sign--desktop {
    margin-bottom: 0;
  }
  
  .panel--summary {
    width: 90%;
    margin: 2% auto 7% auto;
  }
  
  #content--background {
    width: 100%;
    background: url('../img/content-background.png');
    background-size: contain;
    background-position: 50% 0;
    background-repeat: 0 no-repeat;
  }
  
	.body--main {
		@include flexbox();
		@include flexbox-justify-content(space-between);
		@include flexbox-align-items(flex-start);
		@include flexbox-flex-wrap(wrap);
	}
  
  .tail--wrapper {
    width: 100%;
    background-size: 100%;
  }
  
  #tail--section {
    background-size: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .panels {
    width: 49.7%;
    display: inline-block;
  }
  
  .panels--wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }

        .main--section {
            @include css3-calc('width', '100%/3 - .75em');
            padding: 10% 5% 0 5%;
            display: inline-block;
        }
        
        .section--half {
            width: 50%;
        }
        
        .section--content--half {
            width: 100%;
            padding: 0% 3%;
        }

        .main--section_full {
            width: 100%;
        }

            .section--content {
                padding: 0;
            }

    // Use both .no-flexbox.no-flexboxlegacy if you're not using flexbox-wrap, because all flexbox mixins except flexbox-wrap() work in all flexboxlegacy browsers.
	// In 3 months, all supported versions of browsers will support flexbox-wrap
	// We also fallback to no-flexbox for IE9 because it's easy.
	.no-flexbox {
		.main--section {
			display: block;
			@include clearfix();
		}
	}

}
