h1 {
  font-family: 'Steelfish';
  color: white;
}

h2 {
  font-family: 'Steelfish';
  color: white;
}

h3 {
  font-family: 'Steelfish';
  color: white;
}

h4 {
  font-family: 'Steelfish';
  color: white;
}

h5 {
  font-family: 'Archivo';
  color: white;
}

h6 {
  font-family: 'Archivo';
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  z-index: 10;
}