.body--header {
  text-align: left;
  width: 93%;
  padding-left: 2%;
  margin: 4.1% auto 0 auto;
}

#boxers--container {
  margin-top: -10%;
  z-index: 0;
  position: relative;
}

#heading {
  z-index: 10;
  position: relative;
}

#alligator--heading, #versus, #crocodile--heading {
  display: inline-block;
}

#alligator--heading h1, #crocodile--heading h1 {
  margin-bottom: 0;
  line-height: 1;
}

#alligator--heading h3, #crocodile--heading h3 {
  text-decoration: underline;
  margin-bottom: 0;
  line-height: 1;
}

#alligator--heading h3 {
  margin-left: 4%;
}

#versus {
  margin: 0 4.5%;
  vertical-align: 175%;
}

#versus h3 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: inline-block;
}

.vitals--length {
  background: url('../img/ruler_2x.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 40% 0;
}

.vitals--weight {
  background: url("../img/weight_2x.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 40% 0;
}

.vitals--length h3, .vitals--weight h3 {
  padding-top: .3em;
  margin-bottom: .2em;
}

.vitals--heading h6 {
  margin-bottom: 0;
}

#alligator--length, #alligator--weight, #crocodile--length, #crocodile--weight {
  display: inline-block;
  text-align: center;
  width: 49%;
}

#alligator--vitals, #crocodile--vitals {
  width: 41%;
  display: inline-block;
}

#alligator--vitals {
  margin-right: 15%;
}

.big--question p {
  text-align: center;
  width: 67%;
  margin: 0 auto;
}